/* move stuff from globals into here */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.project-tile-caption {
    position: absolute;
    width: 100%;
    @apply mx-auto;
    text-align: center;
    @apply font-mono;
    left: 50%;
    transform: translateX(-50%); /* push it back 1/2 of its own width to center it */
    top: 90%;
}

.project-tile img {
    width: 100%;
    height: auto;
    object-fit: contain;
    box-sizing: border-box;
    display: block;
    border: calc(1px + .1vmin);
    border-color: solid white;

}

.project-tile a {
    width: 100%;
}

.project-tile {
    width: 70vmin;
    max-width: 300px;
    height: 70vmin;
    max-height: 300px;
    background-color: black;
    @apply mx-auto;
    border-radius: 20px;
    margin-bottom: 50px;
    transition-duration: 300ms;
    display: flex;
    justify-content: center;
    position: relative;
}

.project-tile:hover {
    transform: scale(1.35, 1.35);
}

.project-tiles-container {
    width: 100vw;
    margin-top: 10vh;
    height: "100vh";
    display: "flex";
    justify-content: "center";
    align-items: "center";
}